@-webkit-keyframes shaker {
0% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
30% { -webkit-transform: translate(-10px, 0px) rotate(0deg); }
60% { -webkit-transform: translate(10px, 0px) rotate(-0deg); }
100% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
}



.shake {
	-webkit-animation-name: shaker;
	-webkit-animation-duration: 500ms;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: cubic-bezier(0,0,0.58,1);
	
}

.gallery{
	position:absolute;
	top:5%;
	bottom:5%;
	right:5%;
	left:5%;
	list-style-type: none;
	
}

.glass{
	position:absolute;
	top:1%;
	bottom:1%;
	right:1%;
	left:1%;
	background-color: white;
	opacity: 0.2;
	 
}

.gallery_item{
	margin:1%;
	height:7em;
	width:7em;
	border:1px solid #143553;
	border-radius:1em;
	text-align:center;
	float:left;
	overflow: hidden;
	background-size: 100% 100%;
    background-repeat: no-repeat;
}
.gallery_item h1{
	background-color:#143553;
	color:white;
	padding:3%;
	font-size: 1.2em;
}

.gallery_item img{
	max-height:90%;
	margin-top:-9%;
}
